
---
<h1 align="center"> Test Report Document</h1>
<h2 align="center"> Blind date </h2>
<h5 align="center"> Project Assignment by - <a href="https://fontys.nl">Fontys Pedagogy</a></h5>

---


<p align="center"> 
  <img src="https://ds6br8f5qp1u2.cloudfront.net/blog/wp-content/uploads/2021/03/7-Common-Types-of-Software-Testing@1x.png?x82505" alt="Image could not load." height="250px" width="637">
</p>

---
<!-- markdownlint-disable -->

<table align="center" class="no-border" >
  <tr>
    <td><img src="https://github.com/BlindDate-Org/S6_Blind_Date_Platform/actions/workflows/dotnet.yml/badge.svg" alt="C# Questions health"/></td>
    <td><img src="https://github.com/BlindDate-Org/S6_Blind_Date_Platform/actions/workflows/node.js.yml/badge.svg" alt="Node.js frontend health"/></td>
    <td><img src="https://github.com/BlindDate-Org/S6_Blind_Date_Platform/actions/workflows/sonarcloud.yml/badge.svg" alt="Sonarcloud"/></td>
  </tr>
</table>

---

<!-- TABLE OF CONTENTS -->
<h2 id="table-of-contents"> :book: Table of Contents</h2>

<details open="open">
  <summary>Table of Contents</summary>
  <ol>
    <li><a href="#introduction"> ➤ Introduction</a></li>
    <li><a href="#Abbreviations and Glossary"> ➤ Abbreviations and Glossary</a></li>
    <li><a href="#References"> ➤ Project References</a></li>
    <li><a href="#Overview"> ➤ Overview of test results.</a></li>
    <li><a href="#used-tools"> ➤ Used test tools</a></li>
    <li><a href="#Detailed test results"> ➤ Detailed Test Results </a></li>
  </ol>
</details>

---

<!-- ABOUT THE PROJECT -->
<h2 id="introduction"> :pencil: 1. introduction</h2>
<p>This document is the software test report from the students of the course: Advanced Software: fall 2022/2023, during the testing phase of the software development project we wrote this document to inform about the test results. This document contains the results of tests, which were executed during the testing phase. We hope you are informed enough by this document.👍</p>

<!-- ABOUT THE PROJECT -->
<h2 id="References"> :paperclip: 1.2 Project references</h2>

<table width:"200%" class="no-border" >
    <tr>
        <th>#&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Document Identifier &nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Document title &nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
    <tr>
        <td>[ 1. ]</td>
        <td><p>Backend - Answer functionality</p></td>
        <td><a href="https://github.com/BlindDate-Org/S6_Blind_Date_Platform/tree/main/backend/BackendAnswerTests">Github - Answer</a></td>
    </tr>
    <tr>
        <td>[ 2. ]</td>
        <td>Backend - Question functionality</td>
        <td><a href="https://github.com/BlindDate-Org/S6_Blind_Date_Platform/tree/main/backendquestions/BackendQuestionTests">Github - Question</a></td>
    </tr>
</table>

---

<h2 id="Overview"> :paperclip: 2.Overview of Tests Results</h2>
<br/>
<h4>2.1 Tests Logs</h4>
<p>Give a few information about tests.
The project software got tested throughout the semester. The tests where performed on the local machine from 31-10-2022 to the 15-01-2023. 
Testers where:
<ul>
  <li>Mary Joseph</li>
  <li></li>
</ul>

</p>
<br/>

<h4>2.2 Rationale for decision</h4>
After executing a test, the decision is defined according to the following rules:
<ul>
    </br>
    <li>
        OK: The test sheet is set to "OK" state when all steps are in "OK" state. The real result is compliant to the expected result.
    </li>
    </br>
    <li>
        NOK: The test sheet is set to "NOK" state when all steps of the test are set to "NOK" state or when the result of a step differs from the expected result.
    </li>
    </br>
    <li>
        Partial OK: The test sheet is set to "Partial OK" state when at least one step of the test is set to "NOK" state or when the result of a step is partially compliant to the expected result. Keep it or remove. Source of inconsistencies: criteria to set if result is Partial OK may be qualitative
    </li>
    </br>
    <li>
        NOT RUN: Default state of a test sheet not yet executed.
    </li>
    </br>
    <li>
	    NOT COMPLETED: The test sheet is set to "Not Completed" state when at least one step of the test is set "Not Run" state.
    </li>
</ul>
<br/>

<h4>2.3	Overall assessment of tests</h4>

<br/>

---

<h2 id="Detailed test results"> :file_folder: 3.Detailed test results</h2>
<br/>

|  Test ID                      	|    TC-01         	|    Comment                              	|    Decision    	|
|-------------------------------	|------------------	|-----------------------------------------	|----------------	|
| User requirement              	|                  	|                                         	|                	|
| Test input                    	|                  	|                                         	|                	|
| Test output                   	|                  	|                                         	|                	|
| Assumptions and constraints   	|                  	|                                         	|                	|
| Expected results and criteria 	|                  	|                                         	|                	|
| Test procedure                	|                  	|                                         	|                	|
| Step number                   	| Operator actions 	| Expected result and evaluation criteria 	| Result         	|
| 1.                            	|                  	|                                         	|                	|
|                               	|                  	|                                         	|                	|

<br/>
<!-- Table number 2 -->

|  Test ID                      	|    TC-02          	|    Comment                              	 |    Decision    	|
|-------------------------------	|------------------ 	|--------------------------------------------|------------------|
| User requirement              	|                   	|                                            |                	|
| Test input                    	|                   	|                                            |                	|
| Test output                   	|                   	|                                            |                	|
| Assumptions and constraints   	|                   	|                                            |                	|
| Expected results and criteria 	|                   	|                                            |                	|
| Test procedure                	|                   	|                                         	 |                	|
| **Step number**                	|**Operator actions** |**Expected result and evaluation criteria** |     **Result**   |
| 1.                            	|                   	|                                         	 |                	|
| 2.                            	|                   	|                                            |                	|
| 3.                            	|                   	|                                            |                	|
| 4.                            	|                   	|                                            |                	|
| 5.                              |                   	|                                            |                	|
